{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Table{% endblock %}</h1>
{% endblock %}

{% block content %}
<table>
  <thead>
    
    <th>Vorname</th>
    <th>Nachname</th>
    <th>Kontakt</th>
    <th>Notizen</th>
    <th>Betreuer</th>
    <!--<th>time</th>-->
    <!--<th>edit</th>-->

  </thead>
{% for post in posts %}
  <tr>
    
    <td><a class="action" href="{{ url_for('blog.update', id=post['id']) }}">{{ post['surname'] }}</td><a></td>
    <td>{{ post['lastname'] }}</td>
    <td>{{ post['title'] }}</td>
    <td>{{ post['body'] }}</td>
    <td>{{ post['username'] }}</td>
    <!--<td>{{ post['created'].strftime('%Y-%m-%d') }}</td>-->
    <!--<td><a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a></td>-->
  </tr>
{% endfor %}
</table>
{% endblock %}
