{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit {{ post['surname'] }} {{ post['lastname'] }}  {% endblock %}</h1>

{% endblock %}


{% block content %}
  <form method="post">
    <label for="title">Kontakt</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or post['title'] }}" required>
    <label for="surname">Vorname</label>
    <input name="surname" id="surname"
      value="{{ request.form['surname'] or post['surname'] }}" required>
    <label for="lastname">Name</label>
    <input name="lastname" id="lastname" 
      value="{{ request.form['lastname'] or post['lastname'] }}" required>     
    <label for="body">Notizen</label>
    <textarea name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
